.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50vh;
    position: fixed;
    box-sizing: border-box;
}

.block:hover {
    border: dotted 2px #aaa;
}

.block.topleft {
    background-color: #f8fcf8;
    left: 0;
    top: 0;
}

.block.topright {
    background-color: #fcf1f0;
    left: 50%;
    top: 0;
}

.block.bottomleft {
    background-color: #eff7ff;
    left: 0;
    top: 50vh;
    bottom: 100vh;
}

.block.bottomright {
    background-color: #fafaec;
    left: 50%;
    top: 50vh;
    bottom: 100vh;
}