.sticky_board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.sticky_note_container.add_sticky_note_container {
    cursor: pointer;
    border: dashed 2px black;
    background-color: white;
    box-shadow: none;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky_note_container.add_sticky_note_container:hover {
    background-color: #fdfd96;
    border: solid 1px #eee;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
}

.sticky_note_container.add_sticky_note_container .sticky_note {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    transition: 
        visibility .15s linear,
        opacity .15s linear;
}