.sticky_board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.add_sticky_note_container {
    cursor: pointer;
    border: dashed 2px black;
    background-color: white;
    box-shadow: none;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_sticky_note_container:hover {
    background-color: #fdfd96;
    border: solid 1px #eee;
}