.sticky_note {
    margin: 10px;
    width: 250px;
    height: 250px;
    background-color: #fdfd96;
    padding: 10px;
}

.sticky_note .ReactCodeMirror {
    height: 100%;
    overflow: hidden;
}

.sticky_note .CodeMirror {
    background-color: #ffffe3;
}